/* Bootstrap Styles */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* Custom Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1A1F16;
    color: #fff;
}

header {
    background-color: #1E3F20;
    padding: 20px;
    text-align: center;
}

.description-content {
    display: flex;
    align-items: center;
}

.description-image {
    width: 100px;
    margin-right: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto; /* Center the container horizontally */
    max-width: 800px; /* Ancho máximo del contenido */
}

section {
    width: 100%;
    max-width: 600px;
    background-color: #345830;
    margin-bottom: 20px;
    padding: 20px;
}

footer {
    background-color: #1E3F20;
    padding: 10px;
    text-align: center;
    color: #fff;
}

footer a {
    color: #ccc;
}

img {
    border-radius: 8px;
    border: 2px solid #ccc;
}

/* Override Bootstrap Card Styles */
.card {
    border: none;
    background-color: transparent;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 1.25rem;
}

/* Adjustments for small devices */
@media (max-width: 576px) {
    .description-image {
        width: 80px;
        margin-right: 10px;
    }

    .card-img-top {
        height: 150px;
    }
}
